.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  background: linear-gradient(90deg, #FEDC97, #B4D2B1, #28666E);
  
}

.nav-link {
  text-align: center;
  margin-right: 40px;
  color: rgb(1, 1, 1);
  text-decoration: none;
}

.nav-right a,
.logout-btn-navi {
  margin-left: 15px;
}

.login-btn-navi,
.profile-btn-navi,
.logout-btn-navi {
  background: white;
  color: #0a2952;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
